numpy>=1.26
pandas>=2.2
matplotlib>=3.8
scikit-learn>=1.5
joblib>=1.4

fastapi>=0.111,<1
uvicorn[standard]>=0.30
streamlit>=1.36

requests>=2.32
httpx>=0.27
python-multipart>=0.0.9   # ok to keep even if not using uploads yet
pillow>=10.3

